﻿@model Producks.Web.Controllers.StoreDto

@{
    ViewData["Title"] = "Index";
}

<h1>Store Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Products In This Category", "CatDrillDown", new { Id = item.Id, Name = item.Name })
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.brands)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Products In This Brand", "BrandDrilldown", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>